/*基础css*/
ul,li{list-style-type: none;margin: 0;padding: 0;}
.copy .text-center{padding-left: 70px;}
.mart20{margin-top: 20px;}
.btn-success{background-color: #63ce83;border-color: #63ce83;}
.btn-success:hover{background-color: #5cb85c;border-color: #4cae4c;}
.bg-white{background: #fff;}

body{
	font-size: 12px;
	background-color:#eeeff1;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
/*修改 填坑的呢*/
.header > a{color: #666;display: block;}
.header > a:hover{color: #63ce83;}
.navbar-nav > li > a:hover{color: #63ce83!important;}
.nav{position: relative;}
.collapse .nav > .act > a{color: #63ce83;}
.nav > i{position: absolute;left: 10px;top: 61px;height: 2px;background: #63ce83;}

/*横幅提示*/
.banner-text{width: 100%;margin-bottom: 20px;margin-top: -21px;background: #999;height: 0;overflow: hidden;}
.banner-text > p{text-align: center;color: #fff;line-height: 50px;margin: 0;}


/* nav部分 */
.navbar{background: #fff;}
.navbar-brand{margin-right:30px;}
.navbar-nav li{font-size:15px;}
.navbar-brand img{display:inline-block;vertical-align:middle;}
.navbar-form input{height:28px;border-radius:14px;}
.navbar-form button{width:20px;height:26px;color:#888;overflow:hidden;padding:3px;position:relative;margin-left: -33px;border:none;}
.navbar-form button:hover{color:#000;background-color:#fff;}
.header{float: right;position: relative;line-height: 62px;padding: 0 10px;margin-right: -30px;}
.header img{margin-right:10px;border-radius:50%;}
.navbar-form{text-align: center;}
.header-info{line-height: 1.5;position: absolute;background: #fff;top: 61px;width: 100%;text-align: center;z-index: 99;height: 0;overflow: hidden;left: 0;}
.header-info > p{width: 2px;height: 18px;position: absolute;background: #63ce83;left: 0;}
.header-info > ul{padding-top: 10px;overflow: hidden;border: 1px solid #f0f0f0;border-radius: 3px;}
.header-info > ul > li{line-height: 18px;margin-bottom: 10px;font-size: 14px;}
.header-info > ul > li > a{color: #666;display: block;width: 100%;height: 100%;}
.header-info > ul > li.act > a{color: #63ce83;}
.header-info > ul > li > a:hover{color: #63ce83;}
.tiangle{width: 13px;height: 8px;display: none;position: absolute;left: 10px;top: 54px;z-index: 100;background: url('../images/tiangle.png') no-repeat;}
.red-dot{width: 10px;height: 10px;border-radius: 50%;background: red;position: absolute;z-index: 100;left: 30px;top: 15px;}


/* footer部分 */
.footer{width:100%;background-color:#fff;padding:25px 0;}
.footer .subtitle span{border:1px solid #ccc;border-radius:4px;padding:1px 6px;color:#666;}
.footer ul{padding-left:0;}
.footer .about{padding:10px 0;}
.footer .about li{margin-top:5px;margin-bottom:5px;}
.footer li{list-style:none;float:left;margin:15px 45px 15px 0;}
.footer li a{color:#666;}
.footer li a:hover{color:#333;}
.footer li img{height:35px;width:auto;}
.copy{background-color:#30333a;padding:15px 0;position:relative;width:100%;bottom:0;}
.copy p{color:#aaa;font-size:12px;line-height:12px;margin:0;}
@media screen and (max-width:767px){
	.navbar-form button{height:26px;color:#888;overflow:hidden;padding:3px;position:relative;background-color:#abcdef;border-radius:14px;color:#fff;width: 120px;}
	.footer li img{height:25px;width:auto;}
	.nav li.active a{border-bottom:none!important;}
	.header{text-align:center;}
}
label.error{font-size:12px;color:#f30;font-weight:normal;margin:0!important;}
/************************************************************************************/

/**认证 css**/
/*修改的*/
#uploadImg:hover{cursor:pointer;background:#63ce83;text-indent:-100px;opacity:0.1;}
#uploadImg:focus{outline:none;}
.attestation p.addjingyan:hover{color:#333;}
.subtitle > b{width:14px;height:14px;font-weight:normal;background:url(../images/close.png) no-repeat;display:inline-block;margin-left:10px;vertical-align:middle;cursor:pointer;}
.attestation{background:#fff;border-radius:5px;max-width:1000px;}
.attestation .title{border-radius:5px 5px 0 0;height:60px;line-height:60px;background-color:#f9fafa;border-bottom:1px solid #f1f1f1;padding:0 30px 0 60px;color:#555;margin-left:-15px;margin-right:-15px;}
.attestation .title span:first-child{font-size:18px;}
.attestation .title span:last-child{font-size:14px;float:right;}
.attestation .content{padding:40px 60px;}
.attestation .header input{width:68px;height:68px;position:absolute;opacity:0;margin-top:-68px;}
.attestation .header img{width:68px;height:68px;margin-right:30px;border-radius:0;}
.attestation .header{margin-bottom:10px;}
.attestation .header span{color:#666;}
.attestation textarea[name="experience"]{resize:none;}
.attestation .input{position:relative;}
.attestation .input input{width:100%;height:40px;border-radius:6px;border:1px solid #ccc;text-indent:.6em;margin:10px 0;}
.has-error > input:focus{border-color:#a94442;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6);}
.has-success > input:focus{border-color:#3c763d;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(60,118,61,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(60,118,61,.6);}
.has-error input{border-color:#a94442!important;}
.has-success input{border-color:#3c763d!important;}
.has-success > span > i,.has-error > span > i{display:none!important;}
.has-error > textarea:focus{border-color:#a94442;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6);}
.has-success > textarea:focus{border-color:#3c763d;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(60,118,61,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(60,118,61,.6);}
.has-error textarea{border-color:#a94442!important;}
.has-success textarea{border-color:#3c763d!important;}
.attestation select{width:100%;height:40px;border-radius:6px;border:1px solid #ccc;text-indent:.6em;color:#555;margin-bottom:5px;}
.attestation span:first-child{padding-left:0;padding-right:0;}
.attestation span:last-child,.attestation span:nth-child(2){padding-right:0;}
.attestation textarea{width:100%;height:100px;border-radius:6px;border:1px solid #ccc;padding:10px;margin:10px 0;resize:none;}
.attestation p.subtitle{margin-top:40px;color:#555;}
.attestation p.addjingyan{text-align:center;background-color:#ddd;line-height:40px;color:#999;border-radius:6px;margin:10px 0;cursor:pointer;}
.attestation button{display:block;width:180px;text-align:center;height:50px;line-height:50px;background-color:#63ce83;color:#fff;border-radius:6px;margin-top:30px;border:none;}
.attestation button:hover{background-color:#4dbe92;}
.footer{margin-top:200px;}
@media screen and (max-width:767px){
	.attestation{margin:20px;}
	.attestation .title{padding:0 20px;}
	.attestation .content{padding:30px 20px;}
	.attestation .header img{width:68px;height:68px;margin-right:30px;border-radius:0;}
	.attestation textarea[name="experience"]{margin-bottom:30px;}
	.attestation .input input{margin:10px 0;}
	.attestation .row{margin:0;}
	.attestation select{margin:10px 0;}
	.attestation span{padding:0}
	.attestation textarea{width:100%;height:100px;border-radius:6px;border:1px solid #ccc;padding:10px;margin:10px 0;}
	.attestation p.subtitle{color:#555;}
	.attestation button{width:100px;}
	.navbar-header{padding: 0 20px;}
}
label.error{position:absolute;margin:20px 0 0 10px!important;}

/*新增的*/
.form-control-feedback{top:13px!important;}
i.form-control-feedback.glyphicon.glyphicon-ok{color:#3c763d;}
.help-block{margin-top:0;margin-bottom:0;}
/************************************************************************************/

/**注册 css register**/

/*修改某人留下来的坑   请不要在意书写风格 相同的不用逗号节省，主要为了以后方便修改*/
.mimaxiugai > button{width:150px;margin-top:15px;}
.mimazhaohui > button{width:150px;margin-top:15px;}
.mimazhaohui > p{margin-bottom:0!important;}
.mimazhaohui > p > input{margin-bottom:15px;margin-top:15px;}
.mimazhaohui > p > label{display:block;}

/* 注册成功 */
.register_ok{width:700px;background-color:#fff;padding:40px 30px 45px;position:relative;left:50%;top:50px;margin-left:-350px;}
.register_ok p{font-size:12px;color:#7c8b8e;margin-bottom:20px;text-align:center;}
.register_ok a{display:block;width:190px;border:none;height:40px;color:#fff;background-color:#63ce83;border-radius:4px;margin:25px auto 0;text-align:center;line-height:40px;}
.register_ok a:hover{background-color:#4dbe92;}


/* 密码找回 */
.mimazhaohui{width:700px;background-color:#fff;padding:40px 30px 45px;position:relative;left:50%;top:50px;margin-left:-350px;}
.mimazhaohui p{font-size:16px;color:#7c8b8e;margin-bottom:20px;text-align:center;}
.mimazhaohui p span{margin-right:10px;}
.mimazhaohui p input{height:36px;border:1px solid #ddd;border-radius:6px;width:340px;}
.mimazhaohui a{display:block;width:220px;border:none;height:40px;color:#fff;background-color:#63ce83;border-radius:4px;margin:25px auto 0;text-align:center;line-height:40px;}

/* 密码修改 */
.mimaxiugai{width:700px;background-color:#fff;padding:40px 30px 45px;position:relative;left:50%;top:50px;margin-left:-350px;}
.mimaxiugai p{font-size:16px;color:#7c8b8e;margin-bottom:20px;text-align:center;}
.mimaxiugai input{display:block;margin:15px auto 5px;height:38px;border:1px solid #ddd;border-radius:6px;width:340px;text-indent:.6em}
.mimaxiugai a{display:block;width:340px;border:none;height:40px;color:#fff;background-color:#63ce83;border-radius:4px;margin:25px auto 0;text-align:center;line-height:40px;}

/* 认证 */
.renzheng{width:600px;background-color:#fff;padding:40px 100px 45px;position:relative;left:50%;top:50px;margin-left:-300px;}
.renzheng h1{font-size:20px;text-align:center;color:#555;}
.renzheng p{font-size:14px;text-align:center;color:#555;}
.renzheng input[type="text"]{width:390px;display:block;margin:20px 0;height:40px;border-radius:6px;border:1px solid #ccc;text-indent:.6em;}
.renzheng input.yanzhengma{width:260px;display:block;border-radius:6px 0 0 6px;}
.renzheng .yzm{display:inline-block;width:130px;background-color:#333;height:40px;position:absolute;margin:-60px 0 0 260px;border-radius:0 6px 6px 0;line-height:40px;text-align:center;color:#fff;cursor:pointer;float:right;}
.renzheng button{display:block;width:390px;text-align:center;background-color:#63ce83;color:#fff;font-size:18px;line-height:40px;border:none;}
.renzheng button:hover{background-color:#4dbe92;}
.renzheng label{text-align:left;display:block;margin-bottom:20px;line-height:16px;height:16px;font-weight:normal;padding-left:6px;}
.renzheng label input{display:inline-block;vertical-align:bottom;margin-right:5px;}
@media screen and (max-width:767px){

	/* 注册成功 */
	.register_ok{width:300px;margin-left:-150px;}

	/* 密码找回 */
	.mimazhaohui{width:300px;margin-left:-150px;}
	.mimazhaohui p input{width:190px;}

	/* 密码修改 */
	.mimaxiugai{width:300px;margin-left:-150px;}
	.mimaxiugai input{width:240px;}
	.mimaxiugai a{width:240px;}

	/* 认证 */
	.renzheng{width:320px;padding:10px 20px 35px;margin-left:-160px;}
	.renzheng input[type="text"]{width:280px;margin:10px 0;}
	.renzheng button{width:280px;}
	.renzheng input.yanzhengma{width:170px;display:block;border-radius:6px 0 0 6px;}
	.renzheng .yzm{display:inline-block;width:110px;background-color:#333;height:40px;position:absolute;margin:-50px 0 0 170px;}
}
/************************************************************************************/

/* 登陆部分 css */
.login{width:480px;background-color:#fff;padding:45px 70px;position:relative;left:50%;top:50px;margin-left:-240px;}
.login .title{font-size:18px;color:#7c8b8e;}
.login input{width:340px;height:40px;margin:15px 0 5px;text-indent:.6em;border:1px solid #ccc;border-radius:4px;}
.login button{width:340px;border:none;height:40px;color:#fff;background-color:#63ce83;border-radius:4px;margin:20px 0;}
button:hover{background-color:#4dbe92;}
.login .login_about p{text-align:center;}
.login .login_about p a{margin:0 15px;color:#888;}
.login .other_login{width:270px;padding-left:70px;margin:30px 0 20px;}
.login .other_login:after{content:"";display:block;overflow:hidden;clear:both;}
.login .other_login li{float:left;width:25.3%;margin:0 4%;list-style:none;}
.login .other_login img{display:block;margin:0 auto;width:90%;border-radius:50%;background-color:#444;}

/* 注册部分 */
.register{width:400px;background-color:#fff;padding:40px 30px 45px;position:relative;left:50%;top:50px;margin-left:-200px;}
.register .title{font-size:18px;color:#7c8b8e;margin-bottom:20px;text-align:center;}
.register input{width:340px;height:40px;margin:10px 0;text-indent:.6em;border:1px solid #ccc;border-radius:4px;}
.register button{width:340px;border:none;height:40px;color:#fff;background-color:#63ce83;border-radius:4px;margin-top:25px;}
button:hover{background-color:#4dbe92;}
@media screen and (max-width:767px){

	/* 登陆部分 */
	.login{width:320px;background-color:#fff;padding:25px 20px;position:relative;left:50%;top:50px;margin-left:-160px;}
	.login .title{font-size:18px;color:#7c8b8e;margin-bottom:20px;}
	.login input{width:280px;height:40px;margin:15px 0 5px;text-indent:.6em;border:1px solid #ccc;border-radius:4px;}
	.login button{width:280px;border:none;height:40px;color:#fff;background-color:#63ce83;border-radius:4px;margin:20px 0;}
	.login .login_about{display:none;}

	/* 注册部分 */
	.register{width:320px;padding:30px 30px 35px;margin-left:-160px;}
	.register .title{margin-bottom:20px;}
	.register input{width:260px;margin:10px 0;}
	.register button{width:260px;margin-top:15px;}
}
/************************************************************************************/


/****
	交流页面 css begin
****/

.exchange-head > ul{width: 100%;min-height: 40px;background-color: #fff;height: auto;overflow: hidden;padding-left: 10px;}
.exchange-head > ul > li{line-height: 40px;padding:0 14px;float: left;}
.exchange-head > ul > li > a{color: #666666;font-size: 14px;}
.exchange-head > ul > li > a:hover{color: #63ce83;}
.exchange-head > ul > li.act > a{color: #63ce83;}
.exchange-head > ul > li > span{display: none;}
.exchange-head > ul > li.act > span{position: absolute;height: 12px;font-size: 12px;margin-top: 36px;color: #fff;display: block;}

.exchange{padding-right: 40px;margin-top: 10px;}
.exchange-hot{background: #fff;border: 1px solid #f0f5f6;margin-top: 20px;}
.hot-title{color: #222525;font-size: 12px;height: 35px;line-height: 35px;padding-left: 15px;background: #f7f8f8;margin-bottom: 0px;margin-top: 0px;}
.photo{float: left;margin-right: 5px;}
.photo > img{border: 1px solid #f0f0f0;margin-left: 10px;margin-top: 10px;border-radius: 4px;}
.hot-con > ul{}
.hot-con > ul > li{border-bottom: 1px solid #f0f0f0;min-height: 78px;width: 100%;height: auto;overflow: hidden;position: relative;}
.hot-news{float: left;}
.hot-news-title{font-size: 14px;margin-bottom: 0px;margin-left: 15px;}
.hot-news-title a{color: #222525;margin-bottom: 0px;}
.hot-news-title a:hover{color: #63ce83;}
.hot-news-info{margin-top: 10px;margin-left: 15px;margin-bottom: 10px;}
.hot-news-info span{color: #666;}
.hot-news-info > span:first-child{color: #666;background: #f0f0f0;padding: 2px 5px;border-radius: 4px;}
.hot-news-info > span:nth-child(2){color: #666;}
.hot-news-info > span:last-child{color: #9ca2a2;margin-left: 5px;}
.hot-comment{line-height: 22px;text-align: center;font-size: 12px;color: #fff;background-color: #e8e8e8;float: right;border-radius: 5px;top: 24px;right: 25px;display: inline-block;position: absolute;padding: 0 5px;}

.more-exchange{text-align: center;background: #fff;border: 1px solid #f0f5f6;height: 40px;line-height: 40px;width: 100%;font-size: 12px;color: #999;display: block;margin-top: 20px;margin-bottom: 20px;}
.more-exchange:hover{color: #63ce83;}

.exchange-side{margin-top: 10px;border: 1px solid #f0f0f0;padding: 0;}
.personal-info{overflow: hidden;width: 100%;margin-bottom: 20px;background: #fff;padding: 20px;}
.personal-photo > img{border: 1px solid #f0f5f6;float: left;margin-right: 10px;}
.personal-name{float: left;}
.personal-name > h2{color: #333;font-size: 14px;margin-top: 10px;}
.personal-name > p > span{color: #333;font-size: 12px;float: left;}
.three-info{margin-top: 5px;border-bottom: 1px solid #f3f3f3;padding-bottom: 20px;margin-bottom: 20px;}
.three-info > ul > li{float: left;width: 30%;text-align: center;color: #9ca2a2;border: 1px solid #f5f5f5;margin: 0 1.66%;box-sizing:border-box;-moz-box-sizing:border-box;border-radius: 5px;padding-top: 5px;margin-top: 10px;}
.three-info > ul > li > span{font-size: 20px;}

.side_banner img{max-width: 300px;width: 100%;}

.personal-comment{color: #9ca2a2;height: 20px;line-height: 20px;}
.personal-comment > span{color: #fff;background-color: #ff0909;padding: 0px 5px;border-radius: 4px;float: right;display: inline;line-height: 16px;}
.personal-info > .a > a{color: #9ca2a2;background: #f4f4f4;width: 100%;height: 35px;border: 1px solid #dfdfdf;text-align: center;line-height: 35px;display: block;}
.personal-info > .a > a:hover{color: #4cae4c;}
.personal-info > .b > a{color: #fff;background: #63ce83;width: 100%;height: 37px;text-align: center;line-height: 37px;display: block;}
.personal-info > .b > a:hover{background: #4cae4c;}
.personal-info > .c{width: 100%;text-align: center;margin-bottom: 0px;}
.personal-info > .c > a{color: #9ca2a2;}
.personal-info > .c > a:hover{color: #63ce83;}

@media screen and (max-width:768px){
	.exchange{padding-right: 15px;}
	.exchange-side{margin-left: 15px;margin-right: 15px;}
}
@media screen and (max-width:410px){
	.exchange-head > ul > li.act > span{display: none;}
}
/********** 交流页面 2 **********/

.list-info{}
.list-info > .unit-a{background: #fff;padding: 20px;}
.list-info > .unit-a > ul > li{float: left;text-align: center;width: 33.3333%;border-left: 1px solid #ebebeb;}
.list-info > .unit-a > ul > li:first-child{border-left: none;}
.list-info > .unit-a > ul > li > span{font-size: 20px;color: #f6726b;}
.list-info > .unit-a > ul > li > p{margin-bottom: 0;text-align: center;}
.list-info > .unit-b{width: 100%;width: 100%;margin-top: 20px;margin-bottom: 20px;border-radius: 3px;line-height: 26px;}
.list-info > .unit-c{position: relative;margin-bottom: 20px;}
.list-info > .unit-c > ul{background: #fff;overflow: hidden;height: 40px;border-radius: 3px;}
.list-info > .unit-c > ul > li{float: left;width: 27%;text-align: center;line-height: 40px;margin: 0 3.16666%;cursor: pointer;}
.list-info > .unit-c > ul > li.act{color: #63ce83;}
.list-info > .unit-c > .line{height: 2px;position: absolute;background: #5cb85c;bottom: 0;}
.list-info > .unit-d{padding: 20px;background: #fff;overflow: hidden;border-radius: 5px;display: none;}
.list-info > .act{display: block;}
.list-info > .unit-d > ul > li{position: relative;padding-left: 10px;}
.list-info > .unit-d > ul > li > i{width: 10px;height: 10px;border-radius: 50%;background: #63ce83;display: block;position: absolute;left: -7px;top: 2px;}
.list-info > .unit-d > ul > li > a{color: #222525;}
.list-info > .unit-d > ul > li a:hover{color: #63ce83;}
.list-info > .unit-d > ul > li > p{color: #999999;border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;}
.list-info > .unit-d > ul > li:last-child p{border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
.list-info > .unit-d > ul > li > p > a{color: #999999;margin-right: 10px;}

/****
	交流 页面css end
****/



/****
	文章交流内页css begin
****/
.exchange .news{background: #fff;padding: 30px;}
.news-title h2{font-size: 20px;color: #000;}
.news-title-info img{width: 26px;height: 26px;border: 1px solid #eff5f6;float: left;margin-right: 15px;}
.news-title-info p{font-size: 12px;color: #999999;line-height: 28px;}
.news-title-info p span{font-size: 14px;color: #000;margin-right: 15px;}
.news-con{margin-bottom: 60px;}
.news-con > p{font-size: 12px;line-height: 150%;color: #666666;}
.enjoy > .two-icon > span{width: 40px;height: 40px;border-radius: 50%;background: #000;line-height: 41px;text-align: center;font-size: 20px;color: #fff;}
.enjoy > .two-icon span:hover{background: #63ce83;cursor: pointer;}
.glyphicon{margin-right: 10px;}
.glyphicon-thumbs-up{margin-left: 30px;}
.two-icon > i{font-size: 14px;font-style: normal;position: relative;border: 1px solid #edeef0;padding: 7px;border-radius: 10px;background: #f4f4f4;color: #000000;margin-left: 2px;}
.two-icon > i:before{position: absolute;content: ''; width: 0;height: 0; border-top: 5px solid transparent;border-right: 10px solid #f4f4f4; border-bottom: 5px solid transparent;top:10px;left: -10px;}

.news-comments{padding: 30px;background: #fff;margin-top: 30px;}
.news-comments > h2{font-size: 16px;color: #000;line-height: 16px;}
.comments-text{width: 100%;border: 1px solid #d8d8d8;border-radius: 5px;resize:none;height:180px;padding: 10px;color: #999999;}
.post-comment{line-height: 31px;width: 100%;margin: 20px 0;}
.post-comment > span{font-size: 16px;color: #999;}
.post-comment > button{padding: 4px 20px;font-size: 14px;background: #000;color: #fff;float: right;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;}
.post-comment > button:hover{color: #fff;background: #63ce83;}
.comment-img{float: left;height: 100%;}
.comment-img > img{border: 1px solid #eff5f6;width: 34px;height: 34px;position: absolute;}
.comment-info {margin-left: 45px;float: left;margin-right: 40px;}
.comment-info > div{line-height: 150%;}
.comment-info > p{color: #999;margin-bottom: 5px;float: left;}
.comment-info > p > a{color: #333;margin-right: 10px;}
.comment-info > p > a:hover{color: #63ce83;}
.comment-info > a{color: #3071de;position: absolute;right: 10px;top:23px;}
.comment-info > a:hover{color: #63ce83;}
.comment-content > ul{overflow: hidden;}
.comment-content > ul > li{height: auto;position: relative;overflow: hidden;border-bottom: 1px solid #f1f1f1;margin-bottom: 20px;padding-bottom: 20px;}
.comment-content > ul > li:last-child{height: auto;position: relative;overflow: hidden;border-bottom: none;}

/****
	文章交流内页css end
****/

/****
	我-文章-内页修改 css end
****/
.left-nav{width: 70px;position: fixed;height: 100%;background: #30333a;}
.left-nav-logo{background: #222224;font-size: 12px;color: #697177;height: 50px;line-height: 50px;}

.my-article{width:auto;padding-left: 70px;}
.modify-article{max-width: 900px;margin-bottom: 40px;display: none;}
#src_message{display: block;}
.modify-article > h2{font-size: 14px;color: #30333a;margin: 0;float: left;margin-top: 20px;}
.modify-article{margin-left: 10px;float: left;position: relative;}
.modify-article > .news{background: #fff;padding: 20px;margin-top: 20px;border-radius: 4px;}
.modify-article > .news-comments{background: #fff;padding: 20px;margin-bottom: 40px;border-radius: 4px;}
.modify-article > button{position: absolute;right: 40px;top: 65px;height: 30px;line-height: 10px;}


.my-article .container {
  width: 100%;
}
/****
	我-文章-内页修改 css end
****/


/****
	我-文章 css end
****/
.modify-article .news-list{background: #fff;padding: 20px;margin-top: 20px;margin-bottom: 40px;}
.modify-article .news-list > ul > li{border-bottom: 1px solid #e9ecee;padding-top: 10px;}
.modify-article .news-list > ul > li:last-child{border-bottom: none;}
.modify-article .news-list > ul > li > a{color: #222525;font-size: 14px;}
.modify-article .news-list > ul > li > p{color: #9ca2a2;margin-top: 5px;}
.modify-article .news-list > ul > li > p > a {color: #9ca2a2;}
/****
	我-文章 css end
****/

/****
	我 css begin
****/
.modify-article .my-message{background: #fff;padding: 20px 0;margin-bottom: 40px;border-radius: 0 0 5px 5px;}
.left-nav {z-index: 9;}
.left-nav ul{overflow: hidden;position: relative;}
.left-nav ul > li{height: 60px;padding-top: 20px;padding-left: 15px;width: 100%;}
.left-nav ul > li > span{width: 40px;height: 40px;display: block;cursor: pointer;border-radius: 5px;}
.left-nav ul > li .a{background: url(../images/1.png) center center no-repeat;}
.left-nav ul > li .b{background: url(../images/2.png) center center no-repeat;}
.left-nav ul > li .c{background: url(../images/3.png) center center no-repeat;}
.left-nav ul > li .d{background: url(../images/4.png) center center no-repeat;}
.left-nav ul > li .e{background: url(../images/5.png) center center no-repeat;}
.nav-title-tip{width: 40px;height: 40px;opacity: 0;position: absolute;left: 80px;background: #30333a;border-radius: 5px;}
.nav-title-tip .glyphicon-triangle-left{color: #30333a;left: -10px;position: absolute;font-size: 14px;top:12px;}
.nav-title-tip i{color: #fff;width: 40px;text-align: center;font-size: 14px;font-style: normal;line-height: 40px;display: block;}

.post-message{position: absolute;right: 20px;top: 10px;border: none;}
.post-message:focus{outline: none;}
.m-message{height: 200px!important;resize:none;color: #999;}

.message-num{color: #708184;background: #f7f8f8;min-height: 52px;width: 100%;line-height: 52px;border-radius: 5px 5px 0 0;margin-bottom: 0;margin-top: 20px;overflow: hidden;}
.message-num i{padding: 2px 3px;font-style: normal;background: #30333a;color: #fff;border-radius: 3px;margin-left: 5px;}
.message-num span{margin-left: 25px;}
.my-message > ul{overflow: hidden;}
.my-message > ul >li{overflow: hidden;border-bottom: 1px solid #e9ecee;margin: 15px 15px 0 15px;padding-bottom: 15px;}
.my-message > ul >li:last-child{border-bottom: none;}
.my-message .a{margin-bottom: 5px;}
.my-message .a > img{border: 1px solid #eff5f6;width: 34px;height: 34px;}
.my-message .b{color: #9ca2a2;padding-left: 15px;}
.my-message .b > p{margin-bottom: 0;margin-top: 5px;}
.my-message .b > a{color: #666666;}
.my-message .b > a:hover{color: #63ce83;}
.my-message .c{color: #9ca2a2;text-align: right;}
.my-message .c > button{border: 1px solid #f4f5f5;width: 34px;height: 34px;width: 44px;height: 24px;border-radius: 5px;cursor: pointer;background: #fff;}
.my-message .c > button:hover{background: #63ce83;border-color: #63ce83;color: #fff;}
.my-message .c > button:focus{outline: none;}
.my-message .c > button:last-child{margin-left: 5px;}
.my-message .c > button.act{outline: none;background: #63ce83;color: #fff;}
.my-comment{margin-top: 20px;display: none;}
.my-comment textarea{width: 100%;height: 80px;border: 1px solid #f4f5f5;resize:none;padding: 10px;border-radius: 5px;}
.my-comment button{width: 100px;float: right;margin: 10px 0;}

.copy-position{position: fixed;}

@media screen and (max-width:510px){
.message-num span{display: block;padding-left: 15px;}
}
/****
	我 css end
****/

/****
	新话题 css end
****/
.new-topic{border: 1px solid #f0f0f0;border-radius: 5px;}
.new-topic > h2{width: 100%;background: #f8f8f8;border-bottom: 1px solid #f0f0f0;color: #666;padding: 0 40px;margin-bottom: 0;min-height: 70px;font-size: 20px;font-weight: normal;margin-top: 0;line-height: 70px;height: auto;overflow: hidden;}
.topic-con{background: #fff;padding: 25px 40px;}
.topic-title > input{width: 100%;height: 40px;border: 1px solid #f0f0f0;border-radius: 8px;padding-left: 10px;}
.topic-content{width: 100%;height: 150px;border: 1px solid #f0f0f0;border-radius: 8px;padding: 10px;margin-top: 25px;}

.some-select{margin-top: 25px;z-index: 99;}

.post-file > button{background: none;border: 1px solid #f0f0f0;margin-top: 25px;float: left;}
.post-file > span{margin-left: 15px;float: left;margin-top: 35px;}
.post-art > button{background: #000;border: 1px solid #f0f0f0;margin-top: 25px;color: #fff;font-size: 16px;height: 36px;width: 100px;}
.post-file > button:hover,.post-art > button:hover{background: #63ce83;color: #fff;}
.post-file > button:focus{outline: none;}
.post-art > button:focus{outline: none;color: #fff;}

/****
	新话题 css end
****/

/****
	我-个人设置-展示 css begin
****/
.personal-nav{min-height: 45px;background: #fff;width: auto;overflow: hidden;margin-bottom: 20px;margin-top: 20px;float: left;padding: 0 10px;border-radius: 5px;line-height: 43px;height: auto;}
.personal-nav > li{float: left;margin: 0 20px;cursor: pointer;font-size: 14px;}
.personal-nav > li:hover{color: #63ce83;}
.personal-nav > li.act{border-bottom: 2px solid #63ce83;color: #63ce83;}
.personal-infomation{max-width: 1180px;padding: 20px 30px;background: #fff;margin-bottom: 40px;border-radius: 5px;}
.personal-infomation{color: #999;}
.personal-infomation > .a{margin-top: 25px;}
.personal-infomation > .a > p > span{}
.personal-infomation > .a > p > span > label{font-size: 14px;}
.personal-infomation > .b > p{overflow: hidden;}
.personal-infomation > .b > p > label{font-size: 14px;height: 100%;float: left;}
.personal-infomation > .b > p > span{display: block;margin-top: 3px;width: auto;margin-left: 70px;}
.personal-infomation > .c > p > label{font-size: 14px;}
.personal-infomation > .c {margin-bottom: 40px;}

.personal-infomation > .d{color: #d9534f;margin: 15px 0;}
/****
	我-个人设置-展示 css end
****/

/****
	招聘 招聘详情 css begin
****/
.recruit-nav{width: 100%;background: #fff;line-height: 43px;min-height: 43px;overflow: hidden;}
.recruit-nav ul{}
.recruit-nav > ul > li{float: left;margin-left: 10px;}
.recruit-nav > ul > li > a{color: #333333;}
.recruit-nav > ul > li > a:hover{color: #288ee4;}
.recruit-nav > ul > li > a.act{color: #288ee4;}

.recruit-list{background: #fff;overflow: hidden;}
.recruit-list > li{overflow: hidden;border-bottom: 1px solid #f0f0f0;padding: 10px;}
.recruit-list > li > div{float: left;}
.recruit-list > li > .unit-a >img{width: 74px;height: 74px;}
.recruit-list > li > .unit-b > p{color: #333;font-size: 16px;padding-top: 10px;margin-bottom: 0;font-weight: 700;}
.recruit-list > li > .unit-b > p > a{color: #333;font-size: 16px;padding-top: 10px;margin-bottom: 0;font-weight: 700;}
.recruit-list > li > .unit-b > p > a:hover{color: #63ce83;}
.recruit-list > li > .unit-b > p:first-child >span{margin-left: 10px;}
.recruit-list > li > .unit-b > p > span{color: #999999;font-size: 14px;font-weight: 400;margin-right: 10px;}
.recruit-list > li > .unit-c > p{color: #333;font-size: 16px;padding-top: 10px;margin-bottom: 0;font-weight: 400;}
.recruit-list > li > .unit-c > p > a{color: #333;font-size: 16px;padding-top: 10px;margin-bottom: 0;font-weight: 700;}
.recruit-list > li > .unit-c > p > a:hover{color: #63ce83;}

.recruit-detail-title{background: #fafafa;min-height: 89px;border-bottom: 1px solid #f6f7f7;height: auto;overflow: hidden;padding-left: 30px;border-radius: 5px 5px 0 0;}
.recruit-detail-title > span{font-size: 18px;font-weight: 700;float: left;margin-top: 31px;}
.recruit-detail-title > a{font-size: 16px;color: #fff;float: right;background: #333;border-radius: 5px;padding: 5px 10px;margin-top: 29px;margin-right: 30px;margin-bottom: 10px;}
.recruit-detail-title > a:hover{background: #63ce83;}
.recruit-detail > .personal-infomation{border-radius: 0px;color: #333;}
.recruit-detail-content > .b > p > span{margin-top: 0px;}
.recruit-detail-content > .a{margin-top: 0;}
.recruit-detail-content > .a label{font-weight: 400;}
.recruit-detail-content > .c label{font-weight: 400;}
.recruit-detail-content > .b > p{margin-bottom: 0;}
.recruit-detail-content > .c > p{margin-bottom: 0;}
.recruit-detail-content > .unit-d{font-size: 14px;margin-top: 30px;margin-bottom: 30px;font-weight: 700;}
.recruit-siade .personal-photo > img{width: 54px;height: 54px;}
.recruit-detail-content{font-size: 14px;}
.recruit-conpany{margin-top: 15px;}
.recruit-conpany > p{margin-bottom: 0;}
.recruit-small-list > p{color: #999;}
.recruit-small-list > ul > li{border-bottom: 1px solid #e6e6e6;padding-bottom: 10px;margin-bottom: 10px;overflow: hidden;}
.recruit-small-list > ul > li:last-child{border-bottom: none;padding-bottom: 10px;}
.recruit-small-info > p{margin-bottom: 0;margin-top: 3px;color: #666;}
.recruit-small-info > a{color: #333;}
.recruit-small-info > a:hover{color: #63ce83;}
/****
	招聘 招聘详情 css end
****/



/****
	邮箱验证 css begin
****/
.email-ok{width: 100%;background: #fff;padding: 20px 0;max-width: 1180px;border-radius: 5px;}
.email-ok > h2{font-size: 18px;font-weight: normal;color: #969b9d;margin-bottom: 20px;}
.email-ok > p{color: #969b9d;}
.email-ok > p.a{color: #333;font-size: 14px;}
.email-ok > p.b{margin-top: 25px;}
.email-ok > .c{color: #2881cc;margin-bottom: 20px;display: block;}
.email-ok > .c:hover{color: #5cb85c;}
.email-ok > button{width: 120px;}

/****
	邮箱验证 css end
****/

/***导航页面 begin***/
.navigation-title{height: 115px;width: 100%;background: #fff;text-align: center;margin-top: -20px;border-bottom: 1px solid #e7e7e7;}
.navigation-title > p{padding-top: 32px;font-size: 20px;color: #333333;margin-bottom: 0;}
.navigation-title > a{color: #2e8edb;}
.navigation-title > a:hover{color: #63ce83;}
.navigation-nav{margin: 20px 0;}
.navigation-nav > ul > li{float: left;margin-right: 10px;line-height: 30px;}
.navigation-nav > ul > li > a{color: #333333;font-size: 14px;padding: 2px 7px;border-radius: 3px;}
.navigation-nav > ul > li > a.act{color: #fff;background: #5ecf80;}
.navigation-nav > ul > li > a:hover{color: #fff;background: #5ecf80;}
.navigation-info{border-radius: 3px;margin-bottom: 30px;}
.navigation-info > p{padding: 10px;margin-bottom: 0;font-size: 16px;color: #333;background: #fff;}
.navigation-info > div{color: #333;height: 70px;padding: 10px;background: #fff;}
.navigation-info > a{border-bottom: 1px solid #f0f0f0;border-top: 1px solid #f0f0f0;display: block;}

/***导航页面 end***/

/***认证用户列表 begin***/
.progress-len{height: 8px;border-radius: 0;margin-bottom: 30px;}
.user-list-nav{margin-top: -1px;padding-bottom: 30px;}
.user-nav-con{color: #333;}
.user-nav-con > p{font-size: 16px;margin-top: 20px;padding-left: 20px;cursor: pointer;margin-bottom: 0;padding-top: 10px;}
.user-con-list > ul{overflow: hidden;width: 100%;margin-top: 10px;height: auto;display: none;padding-bottom: 20px;border-bottom: 1px solid #f0f0f0;padding-left: 10px;padding-right: 10px;}
.user-nav-con:last-child > .user-con-list > ul{border-bottom: none;}
.user-con-list > ul > li{float: left;padding: 5px 10px;}
.user-con-list > ul > li > a{color: #333;font-size: 13px;}

.user-list{margin-top: 10px;padding-left: 30px;}
.user-list > .row{margin-left: 0;margin-right: 0;}
.user-list-one{background: #fff;margin-bottom: 30px;}
.user-list-one > div{padding-top: 15px;}
.user-list-one > .unit-b{position: relative;border-left: 1px solid #eff5f6;border-right: 1px solid #eff5f6;padding-left: 0;padding-right: 0;}
.user-list-one > .unit-b > div{border-top: 1px solid #eff5f6;overflow: hidden;position: absolute;bottom: 0;width: 100%;}
.user-list-one > .unit-b > p{padding: 0 15px;}
.user-list-one > .unit-a{text-align: center;height: auto;position: relative;}
.user-list-one > .unit-a > button{bottom: 25px;position: absolute;left: 50%;margin-left: -34px;height: 33px;}
.mid-bottom > p{float: left;line-height: 30px;color: #999;margin: 9px 0;font-size: 13px;}
.mid-bottom > p:last-child{float: right;border-left: 1px solid #f0f0f0;margin-right: 20px;padding-left: 10px;}
.mid-bottom > p > span:first-child{margin-left: 10px;margin-right: 7px;margin-top: 3px;}
.mid-bottom > p > span:nth-child(2){margin-right: 20px;}

/***认证用户列表 end***/

/**修改密码 begin**/
.change-pwd{max-width: 724px;background: #fff;text-align: center;color: #969b9d;}
.change-pwd-con{width: 50%;margin: 0 auto!important;height: auto;}
.change-pwd-con > input{width: 100%;margin-top: 30px;margin-bottom: 0;height: 40px;border-radius: 5px;border: 1px solid #e9ecee;font-size: 14px;padding: 0 10px;}
.change-pwd-con > input:focus{outline: none;}
.change-pwd-con > i{margin-top: 20px;margin-right: -13px;}
.change-pwd-con > small{margin-top: 10px;}
.change-submint{width: 50%;margin: 30px 0;}
/**修改密码 end**/

/** 新－个人中心 begin***/
.my-set-center{margin-top: 20px;position: relative;overflow: hidden;}
.my-set-center > span{height: 42px;width: 2px;position: absolute;left: 15px;top: 0;display: block;z-index: 99;background: #63ce83;}
.my-set-center > ul{background: #fff;border-radius: 4px;}
.my-set-center > ul > li{line-height: 40px;border-bottom: 1px solid #f0f0f0;}
.my-set-center > ul > li:last-child{border-bottom: none;}
.my-set-center > ul > li > a{color: #666;font-size: 14px;width: 100%;display: inline-block;text-indent: 20px;}
.my-set-center > ul > li > a:hover{color: #63ce83;}
/** 新－个人中心 end***/

/*** 媒体查询 部分css**/
@media screen and (max-width:767px){
	.modify-article{width: 90%;}
	.navigation-info{max-width: 551px;margin: 30px auto;}
	.navigation-nav > ul > li:first-child{margin-left: 10px;}
	.user-list{padding-left: 15px;}
	.user-list-one > div:nth-child(2){border-left: none;border-right: none;padding-left: 0;padding-right: 0;border-bottom: 1px solid #eff5f6;border-top: 1px solid #eff5f6;}
	.user-list-one > .unit-a > button{left: auto;right: 20px;top: 20px;margin-left: 0;bottom: auto;}
	.nav > i{display: none!important;}
	.header{margin-right: 0;}
	.tiangle{display: none!important;}
	.header-info{display: none;}

}
@media screen and (max-width:560px){
	.navigation-info{margin: 30px 10px;}
}







