@charset "utf-8";

body{
	font-size: 12px;
	background-color:#eeeff1;
}

/*修改某人留下来的坑   请不要在意书写风格 相同的不用逗号节省，主要为了以后方便修改*/
.mimaxiugai > button{width: 150px;margin-top: 15px;}
.mimazhaohui > button{width: 150px;margin-top: 15px;}
.mimazhaohui > p{margin-bottom: 0!important;}
.mimazhaohui > p > input{margin-bottom: 15px;margin-top: 15px;}
.mimazhaohui > p > label{display: block;}


/* 注册成功 */
.register_ok{
	width:700px;
	background-color:#fff;
	padding:40px 30px 45px;
	position:relative;
	left:50%;
	top:50px;
	margin-left:-350px;
}
.register_ok p{
	font-size:12px;
	color:#7c8b8e;
	margin-bottom:20px;
	text-align:center;
}
.register_ok a{
	display:block;
	width:190px;
	border:none;
	height:40px;
	color:#fff;
	background-color:#63ce83;
	border-radius:4px;
	margin:25px auto 0;
	text-align:center;
	line-height:40px;
}
.register_ok a:hover{
	background-color:#4dbe92;
}

.footer{
	margin-top:440px;
}
/* 密码找回 */

.mimazhaohui{
	width:700px;
	background-color:#fff;
	padding:40px 30px 45px;
	position:relative;
	left:50%;
	top:50px;
	margin-left:-350px;
}
.mimazhaohui p{
	font-size:16px;
	color:#7c8b8e;
	margin-bottom:20px;
	text-align:center;
}
.mimazhaohui p span{
	margin-right:10px;
}
.mimazhaohui p input{
	height:36px;
	border:1px solid #ddd;
	border-radius:6px;
	width:340px;
}
.mimazhaohui a{
	display:block;
	width:220px;
	border:none;
	height:40px;
	color:#fff;
	background-color:#63ce83;
	border-radius:4px;
	margin:25px auto 0;
	text-align:center;
	line-height:40px;
}
/* 密码修改 */

.mimaxiugai{
	width:700px;
	background-color:#fff;
	padding:40px 30px 45px;
	position:relative;
	left:50%;
	top:50px;
	margin-left:-350px;
}
.mimaxiugai p{
	font-size:16px;
	color:#7c8b8e;
	margin-bottom:20px;
	text-align:center;
}
.mimaxiugai input{
	display:block;
	margin:15px auto 5px;
	height:38px;
	border:1px solid #ddd;
	border-radius:6px;
	width:340px;
	text-indent:.6em
}
.mimaxiugai a{
	display:block;
	width:340px;
	border:none;
	height:40px;
	color:#fff;
	background-color:#63ce83;
	border-radius:4px;
	margin:25px auto 0;
	text-align:center;
	line-height:40px;
}
/* 认证 */
.renzheng{
	width:600px;
	background-color:#fff;
	padding:40px 100px 45px;
	position:relative;
	left:50%;
	top:50px;
	margin-left:-300px;
}
.renzheng h1{
	font-size:20px;
	text-align:center;
	color:#555;
}
.renzheng p{
	font-size:14px;
	text-align:center;
	color:#555;
}
.renzheng input[type="text"]{
	width:390px;
	display:block;
	margin:20px 0;
	height:40px;
	border-radius:6px;
	border:1px solid #ccc;
	text-indent:.6em;
}
.renzheng input.yanzhengma{
	width:260px;
	display:block;
	border-radius:6px 0 0 6px;
}
.renzheng .yzm{
	display:inline-block;
	width:130px;
	background-color:#333;
	height:40px;
	position:absolute;
	margin:-60px 0 0 260px;
	border-radius:0 6px 6px 0;
	line-height:40px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	float: right;
}
.renzheng button{
	display:block;
	width:390px;
	text-align:center;
	background-color:#63ce83;
	color:#fff;
	font-size:18px;
	line-height: 40px;
	border:none;
}
.renzheng button:hover{
	background-color:#4dbe92;
}

.renzheng label{
	text-align:left;
	display:block;
	margin-bottom:20px;
	line-height:16px;
	height:16px;
	font-weight:normal;
	padding-left:6px;
}
.renzheng label input{
	display:inline-block;
	vertical-align:bottom;
	margin-right:5px;
}

@media screen and (max-width:767px){
	
/* 注册成功 */
.register_ok{
	width:300px;
	margin-left:-150px;
}
/* 密码找回 */
.mimazhaohui{
	width:300px;
	margin-left:-150px;
}
.mimazhaohui p input{
	width:190px;
}
/* 密码修改 */
.mimaxiugai{
	width:300px;
	margin-left:-150px;
}
.mimaxiugai input{
	width:240px;
}
.mimaxiugai a{
	width:240px;
}
/* 认证 */
.renzheng{
	width:320px;
	padding:10px 20px 35px;
	margin-left:-160px;
}
.renzheng input[type="text"]{
	width:280px;
	margin:10px 0;
}
.renzheng button{
	width:280px;
}
.renzheng input.yanzhengma{
	width:170px;
	display:block;
	border-radius:6px 0 0 6px;
}
.renzheng .yzm{
	display:inline-block;
	width:110px;
	background-color:#333;
	height:40px;
	position:absolute;
	margin:-50px 0 0 170px;
}



}